footer {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    padding: 10px;
    background-color: cadetblue;
    text-align: center;
}
